# Database - Prisma Accelerate connection
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKV0U3ODBYRlBUNFo1ODFBMTVWNldQVlAiLCJ0ZW5hbnRfaWQiOiI5OTUxNDk1NDg3OTM1MWE4N2M5Y2QyZGM2NDk2NWY1MGQwOTBhN2QwMjUxYzZkM2FjN2FlYjg2ZDZhODBlMzA0IiwiaW50ZXJuYWxfc2VjcmV0IjoiYjQzMzhlY2YtZDM2Zi00ZjEyLWFjYmUtZTAzMWM1NDQ2NmFjIn0.A1tLYTBnv0qDmawISrchbwdYoxHMRR_qrS2g9IP159s"

# Clerk Authentication
CLERK_PUBLISHABLE_KEY="pk_test_bmV4dC1idW5ueS0zMi5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_SECRET_KEY="sk_test_KPwWJUwlWUTBCSs92Zklgc0ptc2CJARE4DRI8kUU7s"
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1ojvNilIslZMZivGUP/H
Z4Jz3yFjfzLRlN3uLHc01SLwABxOB3qaqqfa62Z2pz8b85HB4tjsY5aM70vjC7oA
j8+lx+415ZLE2v2RJ0fDayRv5TIHIb1NBMGHwORwgRmhGusshiXiuR+NsUpzNzR2
GHxVBjKkhAIpP7aBqfbKBurlWglgDUysPAHozNckPXDXVRfBTDRNTREUJg6VEgau
fqELOe8xFVu0BvZLMsdBbJTZNF+dmlSU9f4gtg3Wu0EajC/sd5y9WmvoZeQDomp2
+3rqPL/npjGQPTsKy1SzNiiKMrQxAPuVnDUmNPrOOlRD51rat07NE1Ybz4D+TThU
KQIDAQAB
-----END PUBLIC KEY-----"

# Clerk Instance Information
CLERK_APPLICATION_ID="app_2xm1vDMfRSNubs8iLoHbydhOWJZ"
CLERK_INSTANCE_ID="ins_2xm1vCWfWkYjQbeqg6F6WjlAMWZ"

# Server Configuration
PORT=3001
NODE_ENV=development

# API URLs
NEXT_PUBLIC_API_BASE="https://expressjs-prisma-production-307d.up.railway.app/api"

# CORS Configuration
FRONTEND_URL="http://localhost:3000" 